[submodule "websocket"]
	path = websocket
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "contrib/websocketpp"]
	path = contrib/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
